#[link(name = "rustyturtle", vers="0.1", author="cscott")];

mod intern;

mod op;
mod function;
mod object;
mod startup;
mod module;
mod interp;

fn main() {
    let source = ~"{ return 42; }";
    let i = interp::Interpreter::new();
    let rv = i.interpret(source);
    io::println(fmt!("Source: %s", source));
    io::println(fmt!("=> Result of evaluation is: %s", rv.to_str()));
    // try out the repl.
    let lines : ~[~str] = ~[
        ~"1 + 2",
        ~"let x = 4*10 + 2;",
        ~"x",
        ~"console.log('seems to work');"
    ];
    for lines.each() |s| {
        io::println(fmt!("> %s", *s));
        let rv = i.repl(*s);
        io::println(rv.to_str());
    }
}
