#[link(name = "rustyturtle", vers="0.1", author="cscott")];

mod intern;

mod op;
mod function;
mod object;
mod startup;
mod module;
mod interp;

fn main() {
    let source = ~"{ return 42; }";
    let i = interp::Interpreter::new();
    let rv = i.interpret(source);
    io::println(fmt!("Source: %s", source));
    io::println(fmt!("=> Result of evaluation is: %s", rv.to_str()));
}
